/* .btn-primary {
    background-color: #004880 !important;
    border-color: #004880 !important;
} */

/* Change color of field labels */
/* .form-group label,
.control-label {
    color: #004880 !important;
}

.ellipsis {
    color: #004880 !important;
}


.sidebar-item-label {
    color: #004880 !important;
}

.h4 {
    color: #004880 !important;
} */

.sidebar-item-container {
    padding-bottom: 10px;
}